*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(46, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal{
    width: 400px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 80%;
    height: 50px;
    margin: auto;
}

.btn{
    width: 80%;
    height: 80%;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 25px;
}
button{
    width:60px;
    height: 60px;
}
